# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [79]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df.head(30)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,NaN,High School or Below,287205.13%,57749.0,74.0,1/0/00,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,Bachelors,617710.93%,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,NaN,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,NaN,Bachelor,239210.79%,17870.0,61.0,1/0/00,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,NaN,College,580206.60%,97541.0,72.0,1/0/00,Personal Auto,Four-Door Car,389.185006
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,College,916206.32%,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,20.985105
28,GE62437,AZ,NaN,College,1290256.01%,86584.0,111.0,1/2/00,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,NaN,Master,323536.05%,75690.0,80.0,1/1/00,Personal Auto,Four-Door Car,384.000000

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [80]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'st':'state'})
df.columns
df.head(20)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [81]:
df.head(10)
#ver la cantidad de variantes
df.nunique()
#corregir las categoricas sugeridas
# Reemplazar valores que no contienen 'f' por 'F', asegurando que NaN se manejen correctamente
df['gender']=df['gender'].replace({
    'F':'F',
    'Femal':'F',
    'female':'F',
    'male':'M',
    'M':'M',
    'Male':'M'
})
#*State abbreviations be can replaced with its full name, for example "AZ": "Arizona",
#  "Cali": "California", "WA": "Washington"*
df['state']=df['state'].replace({
    'Cali':'California',
    'AZ':'Arizona',
    'WA':'Washington'
})
df['education']=df['education'].replace({
    'Bachelors':'Bachelor'
})
#- *In Customer Lifetime Value, delete the `%` character*
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
#- *In vehicle class, "Sports Car", "Luxury SUV" and
#  "Luxury Car" could be replaced by "Luxury"*
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury',
    'SUV': 'Luxury'
})
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,Luxury,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [82]:
df.dtypes
#convertir a tipo numerico
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
#errors coerce significa que los valores no numericos será un Nan
#convertir claims
#extraer numero
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
df['number_of_open_complaints']=pd.to_numeric(df['number_of_open_complaints'],errors='coerce')
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [102]:

#decidir que hacer con los nulos
total_filas = len(df)
print(f"Número total de filas: {total_filas}")

filas_con_nulos = df.isnull().any(axis=1).sum()
print(f"Número de filas con al menos un valor nulo: {filas_con_nulos}")
porcentaje_filas_con_nulos = (filas_con_nulos / total_filas) * 100
print(f"Porcentaje de filas con al menos un valor nulo: {porcentaje_filas_con_nulos:.2f}%")
#haré promedio, 

#empezar rellenado de nan, hare promedio para numericos y moda para categoricos
#rellenar valores nilos en columnas numericas, 
columnas_numericas = df.select_dtypes(include=['float64', 'int64']).columns
df[columnas_numericas] = df[columnas_numericas].fillna(df[columnas_numericas].mean())
#rellenar en columnas categoricas
columnas_categoricas = df.select_dtypes(include='object').columns
for columna in columnas_categoricas:
    df[columna] = df[columna].fillna(df[columna].mode()[0])
print(df.isnull().sum())

Número total de filas: 4008
Número de filas con al menos un valor nulo: 0
Porcentaje de filas con al menos un valor nulo: 0.00%
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [105]:
# Contar el número de filas duplicadas
duplicados = df.duplicated().sum()
print(f"Número de filas duplicadas: {duplicados}")
# Mostrar las filas duplicadas
df[df.duplicated()]

Número de filas duplicadas: 2936

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1072,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
1073,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
1074,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
1075,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
1076,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
...,...,...,...,...,...,...,...,...,...,...,...
4003,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
4004,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
4005,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
4006,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909
4007,AA71604,California,F,Bachelor,793690.259345,39295.701214,193.23436,0.394024,Personal Auto,Four-Door Car,404.986909

In [114]:
# Eliminar filas duplicadas
df = df.drop_duplicates()
dup_restantes=df.duplicated().sum()
print(dup_restantes)
# Restablecer el índice
df = df.reset_index(drop=True)

# Guardar el DataFrame limpio en un archivo CSV
df.to_csv('clientes_limpios.csv', index=False)
df.head(30)

0

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,Luxury,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8.256298e+05,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,5.380899e+05,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,7.216100e+05,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2.412750e+06,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,7.388178e+05,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,4.738992e+05,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,F,College,8.197197e+05,0.0,110.0,0.0,Personal Auto,Luxury,528.000000
12,DP39365,California,F,Master,8.798797e+05,77026.0,110.0,2.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,F,High School or Below,8.819019e+05,99845.0,110.0,1.0,Corporate Auto,Luxury,528.000000
14,IL66569,California,F,College,5.384432e+05,83689.0,70.0,2.0,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,F,Bachelor,7.463139e+05,24599.0,64.0,1.0,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,F,High School or Below,2.566868e+05,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
17,OE15005,California,F,College,3.945242e+05,28855.0,101.0,0.0,Personal Auto,Luxury,647.442031
18,WC83389,Oregon,F,College,5.710333e+05,51148.0,72.0,0.0,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,F,High School or Below,8.162617e+05,66140.0,101.0,0.0,Corporate Auto,Four-Door Car,484.800000
20,ZK25313,Oregon,F,High School or Below,2.872051e+05,57749.0,74.0,0.0,Personal Auto,Two-Door Car,355.200000
21,QK46697,Washington,M,Bachelor,6.177109e+05,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
22,YH23384,Arizona,F,Bachelor,2.412750e+06,14072.0,71.0,0.0,Personal Auto,Four-Door Car,511.200000
23,TZ98966,Nevada,F,Bachelor,2.450191e+05,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
24,HM55802,California,F,Bachelor,2.392108e+05,17870.0,61.0,0.0,Corporate Auto,Four-Door Car,439.200000
25,FS42516,Oregon,F,College,5.802066e+05,97541.0,72.0,0.0,Personal Auto,Four-Door Car,389.185006
26,US89481,California,F,Bachelor,3.946372e+05,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
27,HS14476,Washington,M,College,9.162063e+05,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
28,GE62437,Arizona,F,College,1.290256e+06,86584.0,111.0,2.0,Personal Auto,Four-Door Car,532.800000
29,EJ77678,Oregon,F,Master,3.235360e+05,75690.0,80.0,1.0,Personal Auto,Four-Door Car,384.000000

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Estadísticas descriptivas de las columnas relevantes
df[['total_claim_amount', 'customer_lifetime_value']].describe()

# Calcular el percentil 75 para 'total_claim_amount'
percentil_75_claim = df['total_claim_amount'].quantile(0.75)

# Calcular el percentil 25 para 'customer_lifetime_value'
percentil_25_clv = df['customer_lifetime_value'].quantile(0.25)

# Filtrar clientes con alto monto de reclamación y bajo valor de vida
clientes_objetivo = df[
    (df['total_claim_amount'] > percentil_75_claim) &
    (df['customer_lifetime_value'] < percentil_25_clv)
]
# Estadísticas descriptivas de los clientes filtrados
clientes_objetivo[['total_claim_amount', 'customer_lifetime_value']].describe()

# Guardar los clientes filtrados en un archivo CSV
clientes_objetivo.to_csv('clientes_alto_reclamo_bajo_clv.csv', index=False)